<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444330951212-2rf5l779p2i06p2f79pv466glr87nohu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444330951212-2rf5l779p2i06p2f79pv466glr87nohu</string>
	<key>API_KEY</key>
	<string>AIzaSyAgRpq4pSJ0f7qQIPyakfrbrC6WMtbCtKE</string>
	<key>GCM_SENDER_ID</key>
	<string>444330951212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tripthread.tripthread</string>
	<key>PROJECT_ID</key>
	<string>tripthread-app-21bbf</string>
	<key>STORAGE_BUCKET</key>
	<string>tripthread-app-21bbf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444330951212:ios:c2dce703b2c2c48db50789</string>
</dict>
</plist>